[submodule "meta-rzg2"]
	path = meta-rzg2
	url = https://github.com/renesas-rz/meta-rzg2
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-gplv2"]
	path = meta-gplv2
	url = http://git.yoctoproject.org/cgit.cgi/meta-gplv2
[submodule "rzg2_bsp_scripts"]
	path = rzg2_bsp_scripts
	url = https://github.com/renesas-rz/rzg2_bsp_scripts
